{% include partials/header.html %}
<h1 class="display-3">
  {% if site.conference.main.logo.img %}
  <figure>
    <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}"
      class="w-100 d-none d-md-inline" alt="{{ site.title }}" />
    <figcaption style="font-size: medium;">Piazza Walther, Bolzano, Italy.</figcaption>
  </figure>
  <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}"
    class="w-100 d-md-none" alt="{{ site.title }}" />
  {% endif %}
</h1>
{{ content }}
{% include partials/footer.html %}