{% include partials/header.html %}


<h1 class="display-5 mb-3">
  {% if page.title %}
  {{ page.title }}
  {% else %}
  {{ site.data.lang[site.conference.lang].location.directions | default: "Directions" }}
  {% endif %}
</h1>


{{ content }}

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.4907416690485!2d11.33040341579213!3d46.4785943732039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47829c34410cbd5b%3A0x65f19ec400fde7e2!2sNOI%20Techpark%20Alto%20Adige!5e0!3m2!1sit!2sit!4v1649161812807!5m2!1sit!2sit"
  width="1140" height="450" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>
{% include partials/footer.html %}